apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: bychefiza
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: bychefiza/product-service:latest
        ports:
        - containerPort: 3003
        env:
        - name: PORT
          value: "3003"
        - name: MONGO_HOST
          value: "mongodb"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: bychefiza
spec:
  selector:
    app: product-service
  ports:
  - protocol: TCP
    port: 3003
    targetPort: 3003
